<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>

        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script type="text/javascript" src="/static/processing.min.js"></script>
    </head>
    <body>
        <script type="text/javascript" charset="utf-8">
            const socket = io.connect('http://' + "127.0.0.1" + ':' + 5000);
            socket.on('connect', function() {
                socket.emit('my event', {data: 'I\'m connected!'});
            });
            socket.on('message', function(data) {
                console.log(data)
            });


            function buttonclick() {
                socket.emit('button click', {data: 'Button Clicked'});
            }
        </script>

        <canvas id="canvas1" width="200" height="200"></canvas>

        <script id="script1" type="text/javascript">

        // Attaching js code to the canvas by using a sketch object

        var sketch = new Processing.Sketch();
        var globaldata = {'data': {'depth': 0, 'IMUx': 0, 'IMUy': 0, 'IMUz': 0}};
        // define 3D context
        sketch.use3DContext = true;
        // preload the image
        // attach function (also, can be specified as the single parameter
        // in the Processing.Sketch object constructor)
        sketch.attachFunction = function(processing) {
            processing.setup = function() {
              processing.size(640, 360, processing.P3D);
              processing.noLoop();
              processing.background(0);
              processing.lights();
              processing.translate(processing.width / 2, processing.height / 2, -100);

              rotatePyrimid();
            };

            processing.draw = function() {
                socket.on('my event', function(data) {
                    processing.redraw();
                    globaldata = data;
                    processing.background(0);
                    processing.lights();
                    processing.translate(processing.width / 2, processing.height / 2, -100);

                    rotatePyrimid();
                    processing.redraw();
                });
            };

            function drawPyrimid() {
              processing.beginShape();
              processing.vertex(-100, -100, -100);
              processing.vertex( 100, -100, -100);
              processing.vertex(   0,    0,  100);

              processing.vertex( 100, -100, -100);
              processing.vertex( 100,  100, -100);
              processing.vertex(   0,    0,  100);

              processing.vertex( 100, 100, -100);
              processing.vertex(-100, 100, -100);
              processing.vertex(   0,   0,  100);

              processing.vertex(-100,  100, -100);
              processing.vertex(-100, -100, -100);
              processing.vertex(   0,    0,  100);
              processing.endShape();
            }

            function rotatePyrimid() {

                    console.log(globaldata);
                    console.log(globaldata['data']['IMUy']);

                    processing.rotateZ(processing.map(processing.mouseY, 0, processing.height, 0, -processing.PI));
                    processing.stroke(255);
                    processing.fill(255, 255, 255);

                    drawPyrimid();
            }
        };

        var canvas = document.getElementById("canvas1");
        // attaching the sketch to the canvas
        var p = new Processing(canvas, sketch);

        </script>


        <div id="serverData">Here is where the server sent data will appear</div>
        <button onclick="buttonclick()">Click me</button>
    </body>
</html>